
body {
    max-width: 600px;
    margin: auto;
    background-color: #2b2d37;
}

p, h1, h2 {
    color: white;
    font-family: "Lucida Console";
    font-weight: bold;
    margin: 0;
    margin-top: 1em;
}

h1 {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.3em;
}

input:focus {
    outline: none;
}
.top-nav {

    background-color: #2b2d37;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 24px 0 rgba(0, 0, 0, 0.19);*/

    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;

    margin: 0px;
    width: 100%;
    height: 2em;
    padding: 1.5em;

}

.mid-content {
    box-sizing: border-box;
    padding: 1em;
}

.desc {
    color: #797f9c;
    font-style: normal;
}

.temp-calc {
    color: #797f9c;
    background-color: #333644;
    border-color: #797f9c;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 24px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5em;

    display: grid;
    gap: 0.5em;
    padding: 0.5em;
    grid-template-columns: 45% 45%;
    justify-content: center;
    align-items: center;
    
}
.temp-input {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    margin: auto;
}


.temp-input > p {
    font-size: 80%;
    text-align: center;
    width: 5em;
    color: inherit;
    background-color: inherit;
    position: relative;
    top: 1.4em;
    left: 2em;

}

.temp-input > input {

    margin: 1em;
    width: 95%;
    height: 2.3em;

    color: inherit;
    background-color: inherit;
    border-color: inherit;
    box-sizing: border-box;
    padding-left: 1em;

    border:2px solid;
    border-radius: 0.2em;

}

.temp-input:focus-within {
    border-color: green;
    color: white;

}

img {
    width: 100%;
    margin-top: 1em;
}
